<div class="text-center p-5">
    <h1 class="fs-5">Something went wrong</h1>
    <h2 class="fs-6 fw-normal">The page you were looking for could not be found.<br />Please check the URL or contact the merchant.</h2>
</div>