@{
    ViewData["Title"] = "Privacy | ";
}

@*<div class="container">
    <h1 class="mb-5 pt-5 text-center">Privacy Policy</h1>
    <p class="text-decoration-underline">Your privacy is important to us and we value your trust.</p>

    <p>
        This Online Privacy Code (this “Code”) describes the online privacy practices
        of CAKE CORP.. (“CAKE”, “we” or “us”) and applicable to consumers who
        visit, use, or interact with our online services.
    </p>

    <p>
        Our “online services” include CAKE branded websites, mobile applications
        (“mobile apps,” including those for use on tablets), electronic communications
        (such as email messages) with you and digital advertising campaigns.
    </p>

    <div>
        <p>This Code explains the following:</p>

        <ul>
            <li>
                How we, directly or through service providers (including advertising
                partners), may collect information:
                <ul>
                    <li>
                        When you visit, use, or interact with us through any of our
                        online services; and
                    </li>
                    <li>
                        Through our advertisements (“ads”) displayed via online
                        services operated by us or third parties; and
                    </li>
                </ul>
            </li>
            <li>
                How we, directly or through our service providers (including our
                advertising partners), may use or share information collected via our
                online services, and associate this information with other information
                about you.<br/>

                Consent: By visiting or using any of our online services, responding
                to any electronic communications we may send you, or clicking on
                one of our ads, you agree to this Code.
                Check the Effective Date: This Code may be revised from time to
                time, so we encourage you to periodically check the current version
                available. If we revise this Code in a material way, we will change
                the “Last Update” date shown at the top of this page and provide a
                conspicuous notice on our website before any changes take effect.
                Important – Customers: If you have a financial product or service
                with us, we will use and share your personal information in
                accordance with the privacy notice that applies to your account.
                However, this Code may still be useful to you in describing our
                online services, and the options and choices described below are
                available to you as well.
            </li>
        </ul>
    </div>

    <h2>What information do we collect</h2>
    <p>
        We may collect personal information from you through our online services,
        directly or through our service providers. For example, you may provide us
        with your name, mailing address, phone number, email address, account
        number and date of birth and that of the company that you are applying for
        when you fill out an online application form or survey, register, log into or
        update your account through our online services, register for a marketing offer
        or input financial or other information into one of our mobile apps or Web
        portals.

        When you obtain one of our products or services online, or register for or use
        one of our online services, we may ask you to provide information about a
        previous financial transaction with another company (e.g., the amount of your
        monthly payment to a third party), and use that information to verify your
        identity (using information obtained from a third-party information service).
    </p>

    <h2>Types of information we collect</h2>
    <p>
        When you visit or use any of our websites or mobile apps, view any of our
        electronic communications, or interact with one of our targeted ads, we may
        collect information from your computer(s) and your smartphone(s), tablet(s) or
        other mobile device(s) (together referred to as “mobile devices”).
    </p>

    <div>This information includes:</div>
    
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    The make and model of the
                    computer(s) or mobile
                    device(s) you use to visit,
                    use, view or interact with
                    our online services, browser
                    version, hardware, and
                    operating system.
                </li>
                <li>
                    Your mobile phone number,
                    mobile country code, unique
                    device identifier, mobile
                    advertising identifier (assigned by your mobile
                    platform), information about
                    the screen size of your
                    mobile device(s), the date
                    and time of your device use,
                    and other mobile device-
                    related information;
                </li>
                <li>
                    Your Internet Protocol (IP)
                    address and related
                    information, such as your
                    internet service provider
                    and general location and
                    MAC address.
                </li>
                <li>
                    The precise location of your
                    mobile device(s), if enabled
                    on your device(s) (for
                    example, when you register
                    to receive location-based
                    content, such as the
                    location of the nearest ATM,
                    through our mobile apps)
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    Your browsing habits on
                    online services provided
                    by us or third parties,
                    such as search terms
                    you entered on our
                    websites, what websites
                    and pages you visit, how
                    long you stay and what
                    actions you take;
                </li>
                <li>
                    Search terms that
                    directed you to our websites and mobile
                    apps, which websites
                    you came from, and
                    which websites you visit
                    right after leaving one of
                    our websites.
                </li>
                <li>
                    Which of our ads or
                    other online content you
                    view, access, or click
                    on; and
                </li>
                <li>
                    Any actions you take in
                    response to electronic
                    communications that we
                    send to you, such as
                    opening the message or
                    clicking an embedded
                    link.
                </li>
                <li>
                    Photos and contacts
                    stored on your mobile
                    device(s) (when enabled
                    in your mobile device
                    settings).
                </li>
            </ul>
        </div>
        <p>
            Our service providers may also collect information about your browsing habits
            on online services offered by third parties and use it for the purposes
            described below.
        </p>
    </div>


    <h2>Third-party information</h2>
    <p>
        We may also collect information about you from additional online and offline
        sources, including our affiliates, credit reporting agencies and other third-party
        sources as permitted by law.
    </p>

    <h3>Association of information</h3>

    <ul>
        <li>
            We may associate the above information from your computer(s) or
            mobile device(s) through various means, including a unique
            identifier (such as IP address, customer ID, or visitor ID, unique
            device identifier and mobile advertising identifier) by using cookies
            (small data files saved to your browser by websites) and other
            tracking technologies. When used, these unique identifiers enable
            us to identify you as our customer, track your activity on our online
            services and to associate your computer(s) and mobile device(s)
            with one another, for the purposes described in the following
            section.
        </li>
        <li>
            If you are one of our customers, we may associate the above
            information with your personal/corporate profile (contact information,
            and information about your holdings, transactions, demographics
            and location) and use it for the same purposes.
        </li>
    </ul>


    <h3>How we use your information.</h3>
    <p>We may use the information discussed above in several ways, to:</p>

    <div>
        <p>Deliver products and services to you, which includes:</p>
        <ul>
            <li>
                Recognizing you when you return to our websites or use our mobile
                apps (and remembering your login user ID).
            </li>
            <li>Verifying your identity, as required by applicable regulations.</li>
            <li>Processing applications and transactions.</li>
            <li>
                Using the location of your mobile device(s) for location-based
                services you request.
            </li>
            <li>
                Using contacts stored on your mobile device to add new individuals
                and merchants to our BillPay service through our mobile apps at
                your direction.
            </li>
            <li>
                Using photos stored on your mobile device to do the following
                through our mobile apps at your direction:
                <ol>
                    <li>Receipt capture.</li>
                    <li>Pay bills through our BillPay service; and</li>
                    <li>
                        Autofill information on your driver’s license to open a new
                        account
                    </li>
                </ol>
            </li>
            <li>
                Managing your preferences (such as your language preference) and
                providing a more personalized experience.
            </li>
            <li>Identify, fix, and troubleshoot bugs and errors</li>
            <li>
                Understand how you use our products and manage operate and
                improve our services
            </li>
            <li>Facilitating the operation of our websites and mobile apps; and</li>
            <li>
                Providing you with updates on your accounts, products, and
                services.
            </li>
        </ul>

        <div>
            <p>Advertise and market our products and services, including:</p>
            <ul>
                <li>
                    Posting ads through our or third-party websites or mobile apps that
                    may be of interest to you
                </li>
                <li>
                    Using your IP Address to display available product interest rates for
                    your region or state; and
                </li>
                <li>
                    Contacting you with ads, promotions and offers that may be of
                    interest to you (as permitted by law and consistent with any
                    marketing preferences that we offer, and you have registered with
                    us). <br/>
                    Prevent and detect fraud and enhance the security of your account
                    and our online services.
                    Conduct market research, reporting and development, including to
                    better understand our customers, website visitors and mobile app
                    users, improve our online services, and improve our products and
                    services; and<br/>
                    In other ways as required or permitted by law or with your consent.
                </li>
            </ul>
        </div>
    </div>

    <h3>Aggregated/anonymized information</h3>
    <p>
        We may also aggregate or anonymize information about you (so that it does
        not identify you individually). This aggregate or anonymized information is not
        subject to this Code, and we may use it as permitted by law.
    </p>

    <p class="mt-3">
        We may also share aggregated or anonymized information (which does not
        identify you individually) for various business purposes as permitted by law,
        for example:
    </p>
    <ul>
        <li>
            Third parties to help develop, market, and deliver products and
            services that are better tailored to our customers, website visitors
            and mobile app users; and
        </li>
        <li>
            Our advertising partners for online advertising purposes.
        </li>
    </ul>
</div>
*@


<iframe src="https://docs.google.com/file/d/1HI6yLkwMmKvUsfa3rFXfkajaa1ejQd-G/preview" width="100%" height="100%" style="overflow: hidden; height:100vh;" allow="autoplay"></iframe>