@model AirwallexPaymentIntent;

<div>
    <div class="row mt-5">
        @if (Model.AvailablePaymentMethodTypes.Contains("applepay"))
        {
            <div class="col-6">
                <button class="bg-black button" onclick="applePay()">
                    <svg viewBox="0 0 623.62 294.4" fill="white">
                        <path d="M374.61,428.69c-2.37,2.18-4.78,4.34-7.12,6.56-8.31,7.85-14.56,17-16.76,28.4-3,15.79.2,30.27,9.77,43.25,4.79,6.49,10.5,11.88,18.1,15,.89.36,1.79.68,2.88,1.1-1,2.69-1.86,5.34-2.92,7.91-6.2,15-14.25,28.88-25.23,40.93a61.45,61.45,0,0,1-6.72,6.18c-8,6.5-17,9-27.15,6-5.06-1.48-10.06-3.14-15.09-4.69a58.32,58.32,0,0,0-15.91-3c-6.77-.17-13,1.86-19.3,4.17a127.51,127.51,0,0,1-14.44,4.73c-7.73,1.84-14.71-.54-21.13-4.88s-11.58-10.13-16-16.45a168.3,168.3,0,0,1-24.75-51.71,120.16,120.16,0,0,1-3.31-50.6c2.29-15.07,7.9-28.67,18.51-39.91,11-11.64,24.52-16.43,40.38-14.85,7.9.78,15.45,3.07,23,5.27,3.15.92,6.38,1.61,9.56,2.42a25.16,25.16,0,0,0,13.47-.67c6.22-1.82,12.36-3.89,18.57-5.73a58.37,58.37,0,0,1,28.12-1.68c12.32,2.38,22.06,9,30.21,18.28,1,1.16,2,2.34,3,3.52A2.47,2.47,0,0,1,374.61,428.69Z"
                              transform="translate(-188.19 -352.8)" />
                        <path d="M328.29,352.8a67,67,0,0,1,.33,7.77A55.57,55.57,0,0,1,312.82,396c-4.28,4.49-9,8.42-14.82,10.73-5,2-10.24,2.38-15.51,2.76-.08,0-.16-.08-.25-.12C283,378.75,298.43,359,328.29,352.8Z"
                              transform="translate(-188.19 -352.8)" />
                        <path d="M440.4,389.19A292.83,292.83,0,0,1,489,385.4c25,0,43.34,5.82,55,16.29,10.76,9.31,17.16,23.56,17.16,41,0,17.74-5.23,31.7-15.12,41.89-13.39,14.25-35.2,21.52-59.93,21.52-7.56,0-14.54-.29-20.36-1.74v78.54H440.4Zm25.31,94.53c5.53,1.46,12.51,2,20.94,2,30.55,0,49.16-14.84,49.16-41.89,0-25.89-18.32-38.4-46.25-38.4-11.05,0-19.49.88-23.85,2Z"
                              transform="translate(-188.19 -352.8)" />
                        <path d="M652.44,582.92l-2-17.75h-.87c-7.86,11.05-23,20.94-43,20.94-28.51,0-43.05-20.07-43.05-40.43,0-34,30.25-52.65,84.64-52.36v-2.91c0-11.63-3.2-32.58-32-32.58-13.09,0-26.77,4.08-36.66,10.48l-5.81-16.88c11.63-7.56,28.5-12.5,46.25-12.5,43,0,53.52,29.38,53.52,57.59v52.65c0,12.22.58,24.15,2.33,33.75Zm-3.78-71.85c-27.93-.59-59.64,4.36-59.64,31.7,0,16.58,11.06,24.44,24.15,24.44,18.32,0,30-11.64,34-23.56a26.84,26.84,0,0,0,1.46-8.15Z"
                              transform="translate(-188.19 -352.8)" />
                        <path d="M707.38,442.13l30.84,83.19c3.2,9.31,6.69,20.36,9,28.8h.59c2.61-8.44,5.52-19.2,9-29.38l27.93-82.61h27l-38.4,100.35c-18.32,48.29-30.83,73-48.28,88.14-12.51,11-25,15.42-31.42,16.58l-6.4-21.52a67.75,67.75,0,0,0,22.4-12.51,77.69,77.69,0,0,0,21.53-28.51c1.16-2.62,2-4.65,2-6.11s-.58-3.49-1.74-6.69L679.46,442.13Z"
                              transform="translate(-188.19 -352.8)" />
                    </svg>
                </button>


                <div id="applepay-container" style="display: none">
                    <!-- STEP #3a: Add an empty container for the applepay element to be injected into -->
                    <div id="applepay"></div>
                    <p id="input-error" style="color: red"></p>
                    <!-- STEP #3b: Add a submit button to trigger the payment request -->
                    <button id="submit" disabled="true">Submit</button>
                </div>
            </div>
        }

        @if (Model.AvailablePaymentMethodTypes.Contains("googlepay"))
        {
            <div class="col-6">
                <button class="bg-white button">
                    <svg fill="#A1A1A1" viewBox="0 0 435.97 173.13" xmlns="http://www.w3.org/2000/svg">
                        <path d="M206.2 84.58v50.75h-16.1V10h42.7a38.61 38.61 0 0 1 27.65 10.85A34.88 34.88 0 0 1 272 47.3a34.72 34.72 0 0 1-11.55 26.6q-11.2 10.68-27.65 10.67h-26.6Zm0-59.15v43.75h27a21.28 21.28 0 0 0 15.93-6.48 21.36 21.36 0 0 0 0-30.63 21 21 0 0 0-15.93-6.65h-27ZM309.1 46.78q17.85 0 28.18 9.54t10.32 26.16v52.85h-15.4v-11.9h-.7q-10 14.7-26.6 14.7-14.17 0-23.71-8.4a26.82 26.82 0 0 1-9.54-21q0-13.31 10.06-21.17t26.86-7.88q14.34 0 23.62 5.25v-3.68A18.33 18.33 0 0 0 325.54 67 22.8 22.8 0 0 0 310 61.13q-13.49 0-21.35 11.38l-14.18-8.93q11.7-16.8 34.63-16.8Zm-20.83 62.3a12.86 12.86 0 0 0 5.34 10.5 19.64 19.64 0 0 0 12.51 4.2 25.67 25.67 0 0 0 18.11-7.52q8-7.53 8-17.67-7.53-6-21-6-9.81 0-16.36 4.73c-4.41 3.2-6.6 7.09-6.6 11.76ZM436 49.58l-53.76 123.55h-16.62l19.95-43.23-35.35-80.32h17.5l25.55 61.6h.35l24.85-61.6Z"
                              fill="#5f6368"></path>
                        <path d="M141.14 73.64A85.79 85.79 0 0 0 139.9 59H72v27.73h38.89a33.33 33.33 0 0 1-14.38 21.88v18h23.21c13.59-12.53 21.42-31.06 21.42-52.97Z"
                              fill="#4285f4"></path>
                        <path d="M72 144c19.43 0 35.79-6.38 47.72-17.38l-23.21-18C90.05 113 81.73 115.5 72 115.5c-18.78 0-34.72-12.66-40.42-29.72H7.67v18.55A72 72 0 0 0 72 144Z"
                              fill="#34a853"></path>
                        <path d="M31.58 85.78a43.14 43.14 0 0 1 0-27.56V39.67H7.67a72 72 0 0 0 0 64.66Z" fill="#fbbc04"></path>
                        <path d="M72 28.5a39.09 39.09 0 0 1 27.62 10.8l20.55-20.55A69.18 69.18 0 0 0 72 0 72 72 0 0 0 7.67 39.67l23.91 18.55C37.28 41.16 53.22 28.5 72 28.5Z"
                              fill="#ea4335"></path>
                    </svg>
                </button>
            </div>
        }

    </div>

    <div class="Divider">
        <hr />
        <p class="text-center text-sm m-0">Or pay another way</p>
    </div>


    <div class="mt-5">Payment method</div>

    <div class="d-flex mt-3">

        @if (Model.AvailablePaymentMethodTypes.Contains("card"))
        {
            <div class="Card selected">
                <svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M512 32h-448c-35.35 0-64 28.66-64 64L0 128h576V96C576 60.66 547.3 32 512 32zM0 416c0 35.34 28.65 64 64 64h448c35.35 0 64-28.66 64-64V224H0L0 416zM191.1 360c0-4.422 3.582-8 8-8h143.1c4.418 0 8 3.578 8 8L352 376c0 4.418-3.582 8-8 8h-144C195.6 384 192 380.4 192 376L191.1 360zM63.1 360c0-4.422 3.582-8 8-8h80c4.418 0 8 3.578 8 8L160 376C160 380.4 156.4 384 152 384h-80C67.58 384 64 380.4 64 376L63.1 360z" />
                </svg>
                <div class="Card-Title">Card</div>
            </div>
        }

        @if (Model.AvailablePaymentMethodTypes.Contains("ach_direct_debit"))
        {
            <div class="Card">
                <svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M512 32h-448c-35.35 0-64 28.66-64 64L0 128h576V96C576 60.66 547.3 32 512 32zM0 416c0 35.34 28.65 64 64 64h448c35.35 0 64-28.66 64-64V224H0L0 416zM191.1 360c0-4.422 3.582-8 8-8h143.1c4.418 0 8 3.578 8 8L352 376c0 4.418-3.582 8-8 8h-144C195.6 384 192 380.4 192 376L191.1 360zM63.1 360c0-4.422 3.582-8 8-8h80c4.418 0 8 3.578 8 8L160 376C160 380.4 156.4 384 152 384h-80C67.58 384 64 380.4 64 376L63.1 360z" />
                </svg>
                <div class="Card-Title">Bank Transfer</div>
            </div>
        }

    </div>


    <partial name="_CardPayment.cshtml" />

</div>



@if (Model.AvailablePaymentMethodTypes.Contains("applepay"))
{
    <script>
        try {
        }
    </script>
}
