@model AirwallexPaymentIntent;
@{
    ViewData["Title"] = "Drop In";
}

<main>
    <div class="App-Container">
        <div class="App-Background"></div>

        <div class="App">
            <div class="Overview">
                <div class="Header">
                    <div class="HeaderContainer">
                        <svg height="20" viewBox="0 0 48 48" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h48v48h-48z" fill="none" />
                            <path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z" />
                        </svg>
                        <div>
                            <Image alt="go back to Together" height={60} width={200} quality={100} src="./images/logo.png" />
                        </div>
                    </div>
                </div>

                <div class="Summary">
                    <div class="Amount">$500.0</div>

                    <div class="subtitle pb-5">Due July 21, 2023</div>

                    <div class="mt-5 pt-5">
                        <div>From: Togethere Inc.</div>
                        <div>Invoice# 7G754SLYD6</div>
                    </div>
                </div>
            </div>

            <div class="Payment">
                <div class="CheckoutForm">
                    <div id="paymentView">
                        <div id="dropIn"></div>
                    </div>
                </div>
            </div>

            <footer class="bottom-2 left-10 text-sm AppFooter">
                <div class="PoweredBy">
                    <a href="#">
                        <span class="lg:opacity-80">Powered By </span>
                        <span class="font-bold">Cake Capital</span>
                    </a>
                </div>

                <div class="FooterLinks">
                    <a class="px-2 mx-1 lg:opacity-80" href="#">
                        Terms
                    </a>
                    <a class="px-2 mx-1 lg:opacity-80" href="#">
                        Privacy
                    </a>
                </div>
            </footer>
        </div>
    </div>
</main>

@section Scripts {
    <script>
        try {
            // STEP #2: Initialize the Airwallex global context for event communication
            Airwallex.init({
                env: 'demo',
                origin: window.location.origin,
            });

            const dropIntElement = Airwallex.createElement('dropIn', {
                intent_id: '@Model.Id',
                client_secret: '@Model.ClientSecret',
                currency: '@Model.Currency',
            });

            dropIntElement.mount('dropIn');

            dropIntElement.addEventListener('onReady', (event) => {
                console.log('Element is ready', event.detail);
            });
            dropIntElement.addEventListener('onError', (event) => {
                const { error } = event.detail;
                console.error('There was an error', error);
            });
            dropIntElement.addEventListener('onSuccess', (event) => {
                alert("Success");
            });

        } catch (error) {
            console.error('There was an error', error);
        }
    </script>
}


