:root {
  --text-color: rgba(75, 85, 99);
  --text-color-light: rgb(157, 168, 185);
  --border-color: #e5e7eb;
  --accent-color: rgb(0, 150, 136);
}

body {
  color: var(--text-color);
}
body a {
  text-decoration: none;
  color: white;
}

.button,
button[type=button] {
  height: 42px !important;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black !important;
  transition: all 0.3s ease-in-out;
  color: white;
  background-color: black;
}
.button svg,
button[type=button] svg {
  height: 20px;
  width: 100%;
}
.button:not(:disabled):hover,
button[type=button]:not(:disabled):hover {
  transform: scale(1.01);
}
.button:disabled,
button[type=button]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.Card {
  border: 1px solid var(--border-color);
  width: 100px;
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.Card svg {
  height: 18px;
  margin-bottom: 4px;
  fill: var(--text-color);
}
.Card .Card-Title {
  font-size: 12px;
  font-weight: 500;
}
.Card.selected {
  border: 2px solid var(--text-color);
}
.Card:not(.selected):hover {
  border: 1px solid var(--text-color);
  opacity: 0.8;
}

.Header {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 10px;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 100;
}
.Header .HeaderContainer {
  display: flex;
  align-items: center;
}
.Header .HeaderContainer svg {
  fill: white;
  opacity: 0.6;
  height: 16px;
  width: 16px;
}
.Header .HeaderContainer img {
  max-height: 36px;
  max-width: 300px;
  width: auto;
  object-fit: contain;
}
.Header .HeaderContainer:hover svg {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.cake-input,
.cake-select {
  margin-top: 3px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
  padding: 8px 12px;
  color: var(--text-color);
  outline: none;
}

.App-Container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.App-Container .App-Background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  z-index: -1;
}
.App-Container .App {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  position: relative;
}
.App-Container .App .Payment {
  width: 100%;
  padding: 24px 16px 16px 16px;
  background-color: white;
  margin-top: auto;
}
.App-Container .App .Payment .CheckoutForm {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}
.App-Container .App .Payment .Divider {
  margin-top: 20px;
  position: relative;
  height: 25px;
}
.App-Container .App .Payment .Divider hr {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.App-Container .App .Payment .Divider p {
  font-size: 12px;
  background-color: white;
  padding: 0 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--text-color-light);
}
.App-Container .App .Payment label {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}
.App-Container .App .Overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 100%;
}
.App-Container .App .Overview .Summary {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-Container .App .Overview .Amount {
  font-size: 30px;
  font-weight: 500;
}
.App-Container .App .Overview .subtitle {
  font-size: 12px;
  font-weight: 300;
}
.App-Container .App .AppFooter {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 0px 32px 0px;
  color: var(--text-light);
}
.App-Container .App .AppFooter .PoweredBy {
  padding: 4px;
}
.App-Container .App .AppFooter .FooterLinks {
  display: flex;
  font-size: 12px;
}
@media only screen and (min-width:992px) {
  .App-Container::before {
    content: " ";
    position: fixed;
    background-color: white;
    height: 100%;
    right: 0;
    top: 0;
    width: 50%;
    box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.18);
    transform-origin: right;
  }
  .App-Container .App {
    flex-direction: row;
    max-width: 920px;
  }
  .App-Container .App .Payment {
    padding: 0;
    width: 380px;
    margin-top: 0;
  }
  .App-Container .App .Overview {
    width: 380px;
  }
  .App-Container .App .Overview .Summary {
    align-items: start;
  }
  .App-Container .App .AppFooter {
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    flex-direction: row;
    color: white;
  }
  .App-Container .App .AppFooter .PoweredBy {
    border-right: 0.7px solid rgba(255, 255, 255, 0.3);
    padding: 0 16px 0 0;
  }
}
